body {
  font: 12px helvetica, arial, sans-serif;
}
/*page elements*/

#browser_message{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display:none;
}

#chart{
	position: absolute;
}

#description{
	border-top: 2px dotted #ccc;
	padding:10px 0;
	height:auto;
}
h1{
	font-family: Armata, sans-serif;
	padding-top:30px;
	padding-bottom: 0px;
}
.toggleButton{
	text-align: right;
	font-size: 14px;
	font-family: Armata, sans-serif;
	padding-bottom: 4px;
}
.colborder{
	border-right:1px dotted #ccc;	
}

/*visualization*/
.chords{
	fill: #aaa;
}

.arc {
    fill-opacity: .6;
    stroke-opacity:.6;
}
.arc.target {
	fill-opacity: 1;
	cursor:pointer;
}

g.node text{
	fill:#aaa;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
}

g.node text:hover, g.node text.selected { 
	fill: #000; 
	font-size: 12px; 
	font-weight: bold;
} 
 
.link { 
	stroke-width:.1;
} 

.link.source {
	stroke-width: 1; 
	stroke-opacity:.5;
	cursor:pointer;
}

.selectedLink{
	fill: #727272;
	stroke:#727272;
	z-index:100;
}


.node.target text{ 
	fill: #000000 !important; 
	font-weight: bold;
} 


/*menu*/

#menu .active{
	color: #ec5a2c;
}

#menu {
	font-family: Armata, sans-serif;
	border-top: 2px dotted #ccc;
	padding:20px 0;
	font-size:20px;

}
a:link, a:visited {
	text-decoration:none;
	color:grey;
}
a:hover{
	color:#ec5a2c;
}


/*tooltip*/

div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 6px;
    font-size: 15px;
    background: #f5f5f5;
    color: black;
    border: solid 1px #727272;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -mozilla-border-radius: 4px;
    text-align: left;
	opacity: .9;
    z-index: 1200;
	visibility:hidden;
}

div.legendaContinent{
	background: #f5f5f5;
	opacity: .9;
	position:fixed;
	width: 200px;
    height: 70px;
	bottom: 40px;
	right: 40px;
	z-index: 1000;
	padding: 10px;
}
div.countryInfo{
	background: #f5f5f5;
	opacity: .9;
	font-size: 15px;
	color:black;
	position:fixed;
	width: 200px;
    height: 70px;
	bottom: 140px;
	right: 40px;
	z-index: 1000;
	padding: 10px;
	visibility:hidden;
}
div.showAll{
	visibility: hidden;
	width:100px;
	font-size: 15px;
	text-align: right;
	padding:20px;
	cursor:pointer;
	position:fixed;
	right: 30px;
	top:130px;
	z-index: 1000;
}
div.showAll:hover{
	color: #ec5a2c;
}